{% extends "base.html" %}

{% block content %}
<p>Привет! Нас зовут Елена и Екатерина, и мы создатели этого проекта по созданию интернет-магазина. Мы занимались web-разработкой и стремимся к тому, чтобы создавать качественные, удобные и функциональные веб-приложения.</p>
<p>Если вы хотите связаться с нами, то можете написать нам на почту или посетить нашу страницу в социальных сетях, где мы будем рады ответить на ваши вопросы и обсудить возможности сотрудничества. Ссылки на них расположены ниже.</p>
<p>Спасибо, что посетили наш проект по созданию интернет-магазина!</p>
{% endblock %} 