{% extends "base.html" %}

{% block content %}
<p>Сайт был создан с помощью фреймворка Django и библиотек для него. База данных реализована на SQLite, а дизайн сайта был разработан с использованием HTML и CSS и JS.</p>
<p>Мы работали на тем чтобы сайт был максимально быстрым и удобным для пользователей. Фреймворк Django был выбран для создания надежного и безопасного веб-приложения, а база данных SQLite позволяет эффективно хранить и управлять информацией.</p>
<p>Дизайн основан на HTML, CSS и JS, которые использовались для создания красивого и функционального пользовательского интерфейса.</p>
<p>Если у вас есть какие-либо вопросы или предложения по улучшению сайта, пожалуйста, свяжитесь с нами по ссылкам снизу. </p>
{% endblock %} 